.blurred {
  width: 100%;
  padding: 2rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15); /* Transparent white */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
}

body,
html {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button a {
  text-decoration: none;
  color: white;
}

.filterContainer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.marker {
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-fluid,
.row {
  height: 100%;
}

.sidebar {
  background: transparent;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
  width: 20%;
  z-index: 1;
}

#map {
  height: 1500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.winery-card {
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.winery-card:hover {
  transform: translateY(-2px);
}

.winery-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.winery-card-content {
  padding: 14px;
  align-items: center;
}

.winery-card h4 {
  margin: 0 0 8px;
  font-size: 18px;
}

.winery-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin-top: 10px;
}

.winery-tag {
  background: #8b0000;
  color: white;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
}

/* media queries */
/* 📱 TABLET */
@media (max-width: 992px) {
  .sidebar {
    height: 40vh;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .sidebar {
    width: 50%;
    padding: 14px;
  }
}
